[user]
	name = Stefano Braghin
	email = stefanob@ie.ibm.com
[color]
	branch = auto
	diff = auto
	status = auto
	showbranch = auto
[core]
	excludesfile = /home/stefanob/.gitignore
	autocrlf = input
[push]
        default = matching