[user]
	name = Stefano Braghin
	useConfigOnly = true
[color]
	branch = auto
	diff = auto
	status = auto
	showbranch = auto
[core]
	excludesfile = /home/stefanob/.gitignore
	autocrlf = input
[push]
        default = matching
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/stefano/.gitmessage
